/** Generated @ www.fontreactor.com **/
@font-face {
    font-family: 'roboto';
    src: url('../fuentes/roboto-light-webfont.woff2') format('woff2'),
         url('../fuentes/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body
{
  background-color: #FFF;
  margin: 0px;
  height: 100%;
}
/* Estilo para el menu principal frontend*/
.menu_frontend
{ 
  color: #000;
  /*para Firefox*/
  -moz-border-radius: 0px 0px 6px 6px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 0px 0px 6px 6px;
  /* para Opera */
  border-radius: 0px 0px 6px 6px;
  behavior:url(border.htc);
}
/* ::: Color de las letras del Menú */
.menu_frontend a {
  text-decoration: none;
  color: #000;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.2em;
}
/* ::: Color de las letras del Menú cuando se pasa el mouse */
.menu_frontend a:hover {
  color: #000;
}
/* ::: Color de las letras sin enlaces en el sub Menú */
.menu_frontend ul{
  color: #0FF;
}
/* ::: Color de las letras del Menú cuando se hace click */
.menu_frontend a:active{
  /*color: #F00;*/
}
.menu_frontend li li{
  list-style:none;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: normal;
}
/* ::: Color de las letras del sub Menú */
.menu_frontend li li a{
  color: #000;
  font-weight: bold;
}
/* ::: Color de las letras del sub Menú cuando pasa mouse */
.menu_frontend li li a:hover{
  color: #2b327a;
}
/* ::: Color de las rayas del boton de menu para celular */
.menu_frontend  .navbar-toggle .icon-bar {
  background-color: #888;
}
.menu_frontend .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.menu_frontend .navbar-toggle:focus {
  outline: 0;
}
.menu_frontend .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.menu_frontend .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar .navbar-nav{
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse{
  text-align: center;
}
/* agregado por Luis */
.submenu_2{
  background-image: url("../imagenes/site/menu-seleccion2.png"); 
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 0.15em;
}
.menu_frontend .navbar-nav > li > a:hover, .menu_frontend .navbar-nav > li > a:focus {
  color: #2b327a;
  background: rgba(255, 255, 255, 0);
  background-image: url("../imagenes/site/menu-seleccion.png"); 
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 0.5em;
  margin-bottom: 0.4em;
  -moz-background-size: 60% 9%;
  -webkit-background-size: 60% 9%;
  background-size: 60% 9%;
}
/* Para que funcione el dropdown con el hover del mouse*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.menu_frontend .navbar-nav > li > .dropdown-menu {
  background: rgba(255, 255, 255, 0.7);
  padding-right: 2em;
}
.menu_frontend .navbar-nav > li > .dropdown-menu > li > a {
  margin-bottom: 1em;
}
.menu_frontend .navbar-nav > li > .dropdown-menu > li > a:hover,
.menu_frontend .navbar-nav > li > .dropdown-menu > li > a:focus {
  background: rgba(255, 255, 255, 0);
}
.menu_frontend .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}
.menu_frontend .navbar-nav .open .dropdown-menu > .active > a,
.menu_frontend .navbar-nav .open .dropdown-menu > .active > a:hover,
.menu_frontend .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/* nav de redes sociales */
.affix {
  visibility: hidden;
}
.inicial{
  position: fixed;
  width: 40px;
  right: 0px;
  z-index: 102;
}
.inicial2{
  font-size: 0.9em;
  background-image: url("../imagenes/site/menu-back.png"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0px;
  z-index: 103;
  padding-top: 10px;
}
#rama-menu{
  position: absolute;
  margin-top: -10px;
  left: 150px;
  width: 100px;
}
.inicial2 .logo{ 
  height: 50px;
}
.redes{
  position: absolute;
  margin-top: 10px;
  right: 30px;
  z-index: 999;
}
.redes_boton
{
  float: right;
  margin:1px; 
  padding: 4 4 4 4px; 
  background-color: #f7f6ed;
  width: 30px;
  height: 30px;
 margin-bottom: 3px;
}
.redes_sombra
{
  -webkit-box-shadow: 9px 4px 37px -3px rgba(0,0,0,0.8);
  -moz-box-shadow: 9px 4px 37px -3px rgba(0,0,0,0.8);
  box-shadow: 9px 4px 37px -3px rgba(0,0,0,0.8);
}

/* estilo para los slides */
.swiper-container {
  width: 100%;
  height: 80%;
  padding-left: 2em;
  padding-right: 2em;
}
.swiper-container-top {
  padding-left: 0em;
  padding-right: 0em;
}
.swiper-slide {
  overflow-x: hidden; 
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
 /* swiper de productos */ 
.swipper-prod{
  margin-top: -7em;
  height: 45em;
}
.swipper-scroll{
  height: 100%; 
  overflow: auto; 
  overflow-x: hidden; 
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("../imagenes/site/flecha-left.png");   
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
 background-image: url("../imagenes/site/flecha-right.png");   
   right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-pagination-top {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}  
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #293279;
}
.cajalogin
{
  padding: 20px;
  margin: 50px auto;
  width: 360px;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fafafa;
}
.cajaform
{
  padding: 20px;
  margin: 50px auto;
  width: 500px;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fafafa;
}
.titulo_form
{
  background-color:#b9cdb4;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight:bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.etq_form
{
  font-size: 1.4rem;
  font-weight:bold;
  color:#9d9999;
}
.oculto{
  display: none;
}
.btn_form
{
   background-color:#37a1c1;
   color: #fff;
}
.flecha
{
  width: 30%;
  margin-top: 60%;
}
.tope
{
  position: relative;
  height: 200px;
}
.tope_back
{
  background-image: url("../imagenes/site/tope-back.png");  
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height:60%;
  text-align: center;
  z-index: 100;
  position: relative;
}
#logo
{
  margin-top: 1%;
  height:60%;
}
.menu_back
{
  background-image: url("../imagenes/site/menu-back.png"); 
  height: 60%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
  bottom: -5%;
  position: absolute;
  width: 100%;
}
#tope_esquina
{
  position: absolute;
  float: left;
  z-index:101;
  height: 91%;
}
.posicion_menu
{
  margin-top: 3%;
}
.slide
{
  margin-top: -2.2%;
  width: 100%;
  z-index: 96; 
}
.redes_sociales
{
  margin:1px; 
  padding: 4 4 4 4px; 
  background-color: #f7f6ed;
  width: 40px;
  height: 40px;
  margin-bottom: 3px;
  -webkit-box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
  box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
}
.redes_sociales_footer
{
  margin-top: 8em;
  height: 2em;
}
.redes_sociales_footer .icon
{
  margin-right: 2em;
  height: 100%;
}
.posicion_redes
{
  margin-top: 40px;
}
.posicion_redes_contacto
{
  position: absolute;
  z-index: 102;
  left: 0px;
  -webkit-box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
  box-shadow: 9px 4px 57px -3px rgba(0,0,0,0.75);
}
.somos
{
  background-image: url("../imagenes/site/back01.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  

}
.globo_somos
{
  margin-top: -8%; 
  margin-left: -4%;
  width:100%;
}
.titulo_somos
{
  margin-left: 25%; 
  margin-top: 7%; 
  position: absolute; 
  z-index: 99; 
  color:#FFF;
  font-size: 1.5em;
  font-family: roboto;
}
.icono_somos
{
  width: 50%;
  margin-top: 10%;
}
.iconos_productos
{
  width: 50%;
  margin-top: -10%;
}
.imgquienes
{
  width: 100%;
  margin-top: -40%;
  margin-left: -13%;
}
.espacio_parrafo
{
  margin-top: -15%;
}
.espacio_parrafo_prod
{
  text-align: left;
}
.titulo_parrafo
{
  font-family: roboto;
  font-size:2em;
}
.titulo_parrafo_prod
{
  background-image: url("../imagenes/site/menu-seleccion2.png"); 
  background-repeat: no-repeat;
  -moz-background-size: 100% 10%;
  -webkit-background-size: 100% 10%;
  background-size: 100% 9%;
  background-position: center bottom;
  padding-bottom: 0.15em;
}
.parrafo
{
  text-align: justify;
  margin-top: 1em; 
  font-family: roboto;
  font-size:1em;
}
.imgparrafo
{
  width: 120px;
}
.productos
{
  background-image: url("../imagenes/site/back02.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 30em;
  width: 100%
}
.globo_productos
{
  margin-left: 25%;
  margin-top: -10%;
  width:100%;
}
.titulo_productos{
  margin-left: 55%; 
  margin-top: 2%; 
  position: absolute; 
  z-index: 99; 
  color:#FFF;
  font-size: 1.5em;
  font-family: roboto;
}
.icono_prod
{
  width: 10%; 
  text-align: center;
  position: absolute;
  left: 10px;
  z-index: 105;
}
.subt_prod
{ 
  font-size: 0.8em;
  font-family: roboto;
  margin-top: -13%; 
}
.imagen_prod
{
  max-width: 25em;
  max-height: 25em;
}
.noticias
{
  background-image: url("../imagenes/site/back03.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 30em;
  width: 100%;
}
.globo_noticias
{
  margin-left: 25%;
  margin-top: -10%;
  width:100%;
}
.titulo_noticias
{
  margin-left: 50%; 
  position: absolute; 
  z-index: 99; 
  color:#FFF;
  font-size: 1.5em;
  font-family: roboto;
}
.icono_noticias
{
  width: 50%;
  margin-top: 55%;
}
.fondo_leer
{
  background-image: url("../imagenes/site/leermas-back.png");
  font-family: roboto;
  font-size: 0.8em;
  color: #FFF; 
  width: 20%;
  min-width: 60px;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border: 0px;
}
.fondo_botones_modal
{
  background-image: url("../imagenes/site/leermas-back.png");
  font-family: roboto;
  font-size: 1em;
  color: #FFF; 
  width: 50%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
.parrafo_noticias
{
  width: 100%;
  font-family: roboto;
  text-align: justify;
}
.imagen_noticia
{
  max-width: 16em;
  max-height: 12em;
  -webkit-box-shadow: 0px 59px 81px -67px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 59px 81px -67px rgba(0,0,0,0.75);
  box-shadow: 0px 59px 81px -67px rgba(0,0,0,0.75);
}
.titulo_noticia
{
  font-family: roboto;
  font-weight: bold;
}
.titulo_noticia_modal
{
  font-family: roboto;
  font-size:1.3em;
  font-weight: bold;
  text-align: center;
}
.parrafo_noticias_modal
{     
  width: 100%;
  font-family: roboto;
  font-size:1.1em;
  text-align: justify;
}
.modal_notibarvo
{
  width: 90%;
  margin: auto auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#contenido_modal
{
  padding: 5em;
}
.entretenimiento
{
  background-image: url("../imagenes/site/back04.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 40em;
  width: 100%
}
.contenedor-videos{
  width:96%; 
  text-align: justify; 
}
.video-responsive {
  position: relative;
  margin-bottom: 20px;
  padding-top: 56.25%;
}
.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cuchara{
  position: absolute; 
  left: -1em; 
  float: left; 
  height: 6em; 
  bottom: 0;"
}
.linea-gris{
  border: 0.1em solid #e8e6e7;
}
#entre_cel{
  top: 1.5em; position: relative; text-align: right; margin-right: 1em; font-family: roboto; font-weight: bold; font-size: 1.2em;
}
#entre_cel a{
  color: #000;
  text-decoration: none;
}
.contacto
{
  background-image: url("../imagenes/site/back05.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 43em;
  width: 100%;
}
.contacto-footer
{
  margin-top: -1px;
  background-image: url("../imagenes/site/back06.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 10px;
}
.footer-oregano{
  position: relative;
  float: right;
  right: 30%;
  margin-top: -30px;
}
.contacto-logo-final
{
  background-image: url("../imagenes/site/back07.jpg"); 
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 10px;
}
.parrafo_contacto
{
  font-family: roboto;
  font-size:1.1em;
}
.campo_form
{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  height: 2.5em;
  padding-left: 1em;
  border: 0px;
  font-family: roboto;
}
.campo_form::-webkit-input-placeholder { color: #a2a2a2; font-weight :bold; }
.campo_form:-moz-placeholder { color: #a2a2a2; font-weight: bold; }
.campo_form::-moz-placeholder { color: #a2a2a2; font-weight: bold; }
.campo_form:-ms-input-placeholder { color: #a2a2a2; font-weight: bold; }
.text_form_contenedor{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
}
.text_form
{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 100%;
  border: 0px;
  overflow:scroll;
  overflow-x: hidden;
  resize: none;
  font-family: roboto;
}
.text_form::-webkit-input-placeholder { color: #a2a2a2; font-weight :bold; }
.text_form:-moz-placeholder { color: #a2a2a2; font-weight: bold; }
.text_form::-moz-placeholder { color: #a2a2a2; font-weight: bold; }
.text_form:-ms-input-placeholder { color: #a2a2a2; font-weight: bold; }
.text_form::-webkit-scrollbar {
  width: 15px;
}
.text_form::-webkit-scrollbar-track {
  background: #FFF; 
}
.text_form::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.text_form::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(../imagenes/site/scroll-up.png);
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.text_form::-webkit-scrollbar-button:vertical:increment {
  background-image: url(../imagenes/site/scroll-down.png);
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.text_form::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url(../imagenes/site/scroll-up-act.png);   
}
.text_form::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url(../imagenes/site/scroll-down-act.png);
}
.fondo_enviar
{
  background-image: url("../imagenes/site/leermas-back.png");
  font-family: roboto;
  font-size: 1em;
  color: #FFF; 
  width: 20%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border: 0px;
}
.posicion_form
{
  margin-top:-22%
}
.parrafo_footer{
  color: #FFF;  
}
#merintec{
  position: absolute;
  width: 100%;
  text-align: center;
  color: #FFF;
  margin-top: -2.3em;
  font-size: 0.8em;
}
#merintec a{
  color:#CCC;
  font-weight: bold;
  text-decoration: underline;
}
.footer-contenedor-logo{
  text-align: center;
  height: 10em;
}
.footer-contenedor-logo .logo{
  height: 40%;
  margin-top: 4em;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
  #logo
  {
    margin-left: 30%;
    margin-top: 5%;
  }
  .navbar .navbar-nav
  {
    display: inline-block;
    float: right;
  }
  .posicion_menu
  {
    margin-top: 6%;
  }
  .slide
  {
    margin-top: -6%;
    margin-bottom: -1px;
  }
  .titulo_somos
  {
    font-size: 0.6em;
    margin-left: 22%; 
    margin-top: 15%; 
  }
  .icono_somos
  {
    width: 75%;
    position: absolute;
    margin-top: 30%;
  }
  .titulo_parrafo
  {
    font-family: roboto;
    font-size:0.8em;
  }
  .espacio_parrafo
  {
    margin-top: -15%;
  }
  .espacio_parrafo_prod
  {
    text-align: center;
  }
  .parrafo
  {
    font-family: roboto;
    font-size:0.7em;
  }
  .imgquienes
  {
    width: 150%;
  }
  .globo_productos
  {
    margin-left: 24%;
    margin-top: -4%;
    width:100%;
  }
  .iconos_productos
  {
    width: 75%;
    position: absolute;
    margin-top: -25%;
  }
  .subt_prod
  {
    position: absolute; 
    font-size: 0.8em;
    font-family: roboto;
    margin-top: -17%;
    margin-left: 2%;
  }
  .menu_frontend ul{
    color: #0FF;
    background: rgba(255, 255, 255, 0.8);
  }
  .globo_noticias
  {
    margin-left:15%;
    margin-top: 18%;
    width:100%;
  }
  .icono_noticias
  {
    width: 75%;
    position: absolute;
    margin-top: 3em;
  }
  .fondo_leer
  {
    font-size: 0.5em;
    width: 50%;
  }
  .parrafo_noticias
  {
    width: 100%;
    font-family: roboto;
    font-size:0.8em;
    text-align: justify;
  }
  .imagen_noticia
  {
    width: 75%;
  }
  .titulo_noticia
  {
    font-family: roboto;
    font-size:0.8em;
    width: 100%;
    min-height: 2.5em;
  }
  #contenido_modal
  {
    padding: 1em;
  }
  .fondo_botones_modal
  {
    width: 100%;
    font-size: 0.8em;
  }
  .parrafo_contacto
  {
    font-size:0.8em;
  }
  .posicion_form
  {
    margin-top:-8%;
  }
  .parrafo_footer{
    color: #FFF;
    font-size: 0.5em;
  }
  .redes_sociales_footer
  {
    margin-top: 3em;
  }
  #merintec{
    margin-top: -2em;
    font-size: 0.5em;
  }
  .contenedor-videos{
    width:90%; 
    text-align: justify; 
  }
  .imagen_prod
  {
    max-height: 12em;
    max-width: 80%; 
  }
  .footer-oregano{
    position: relative;
    float: right;
    right: 20%;
    margin-top: -30px;
  }
  .imgparrafo
  {
    width: 80px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 599px){
  .navbar .navbar-nav
  {
    display: inline-block;
    float: right;
  }
  .posicion_menu
  {
    margin-top: 1%;
  }
  .titulo_somos
  {
    font-size: 0.8em;
    margin-left: 24%; 
    margin-top: 15%; 
  }
  .icono_somos
  {
    width: 75%;
    position: absolute;
  }
  .titulo_parrafo
  {
    font-family: roboto;
    font-size:0.8em;
  }
  .espacio_parrafo
  {
    margin-top: -15%;
  }
  .parrafo
  {
    font-family: roboto;
    font-size:0.8em;
  }
  .imgquienes
  {
    width: 150%;
  }
  .titulo_productos{
    margin-left: 55%; 
    margin-top: 7%; 
    font-size: 0.8em;
  }
  .subt_prod
  {
    position: absolute; 
    font-size: 0.9em;
    font-family: roboto;
    margin-top: -20%;
  }
  .menu_frontend ul{
    color: #0FF;
    background: rgba(255, 255, 255, 0.8);
  }
  .globo_noticias
  {
    margin-left: 5%;
    margin-top: -12%;
    width:100%;
  }
  .icono_noticias
  {
    width: 75%;
    position: absolute;
    margin-top: -30%;
  }
  .globo_productos
  {
    margin-left: 7%;
    width:100%;
  }
  .iconos_productos
  {
    width: 75%;
    position: absolute;
    margin-top: -17%;
  }
  .fondo_leer
  {
    font-size: 0.5em;
    width: 50%;
  }
  .parrafo_noticias
  {
    width: 100%;
    font-family: roboto;
    font-size:0.8em;
    text-align: justify;
  }
  .imagen_noticia
  {
    width: 75%;
  }
  .titulo_noticia
  {
    font-family: roboto;
    font-size:0.8em;
    width: 100%;
  }
  #contenido_modal
  {
    padding: 1em;
  }
  .fondo_botones_modal
  {
    font-size: 0.8em;
  }
  .parrafo_contacto
  {
    font-size:0.8em;
  }
  .posicion_form
  {
    margin-top:-12%;
  }
  #merintec{
    margin-top: -1em;
  }
  .redes_sociales_footer
  {
    margin-top: 3em;
    height: 2em;
  }
}