html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}

/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'Ebrima';
    src: url('../fuentes/original_fuente1.eot?#iefix') format('embedded-opentype'), 
         url('../fuentes/original_fuente1.woff') format('woff'),
         url('../fuentes/original_fuente1.ttf') format('truetype'),
         url('../fuentes/original_fuente1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ebrima-Bold';
    src: url('../fuentes/original_fuente1-bold.eot?#iefix') format('embedded-opentype'), 
         url('../fuentes/original_fuente1-bold.woff') format('woff'),
         url('../fuentes/original_fuente1-bold.ttf') format('truetype'),
         url('../fuentes/original_fuente1-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
    height:100%;
} 

body{
	background-color: #bab9b9;
	background-image: url('../imagenes/fondo.jpg');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

#pagewrap{
	position:relative;
	height: 85%;
	width: 100%;
	z-index:-1;
	align: center;
	text-align: center;
}

#logo{
	position: absolute;
  	top: 35%;
  	left: 20%;
	right: 20%;
}

#titulo{
	width: 100%;
	position:absolute;
	top: 2%;
	font-family: Ebrima;
}

#tendereta{
  	left: 5%;
	right: 5%;
	position:absolute;
	top: 20%;
}

#bebes{
	color: #312a2a;
  	left: 5%;
	right: 5%;
	position:absolute;
	top: 70%;
	font-family: Ebrima;
}

#social_net{
	height: 10%;
	width: 100%;
	text-align: center;
	position:fixed; 
	bottom:20%; 
	z-index:999999;
}

#social_net a{
	text-decoration:none;
}

#btn{
	width:3em;
	height: 3em;
    display:inline-table;
}

.face{
	background-image: url('../imagenes/face.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.insta{
	background-image: url('../imagenes/insta.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.mail{
	background-image: url('../imagenes/mail.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.tele{
	background-image: url('../imagenes/tele.png');
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

#telefono{
	position:relative;
	font-weight: bold;
	top: 10%;
	font-family: arial;
	color:#312a2a;
	font-family: Ebrima;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 600px) {
	#titulo{
		font-size: 35px;
	}
	#bebes{
		font-size: 30px;
	}
	#logo{
	 	left: 35%;
		right: 35%;
	}
	#telefono{
		top: 20%;
		font-size: 20px;		
	}
}

/* Smartphones (Horizontal) ----------- */
@media only screen and (min-width : 481px) and (max-width : 599px) {
	#titulo{
		top: 1%;
		font-size: 25px;
	}
	#logo{
	  	top: 35%;
	  	left: 35%;
		right: 35%;
	}
	#bebes{
		top: 65%;
	}
	#tendereta{
		left: 15%;
		right: 15%;
	}
	#telefono{
		
	}
	#social_net{
		bottom:26%; 
	}
}

/* Smartphones (Vertical) ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px) {
	#titulo{
		top: 10%;
		font-size: 17px;
	}
	
	#bebes{
		font-size: 18px;
	}
	
	#logo{
		left: 20%;
		right: 20%;
	}
	#tendereta{
	  	left: 5%;
		right: 5%;
		position:absolute;
		top: 20%;
	}
	#btn{
		width: 3em;
		height: 3em;
		display:inline-table;
	}
	#telefono{
		
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#titulo{
		font-size: 25px;
	}
	
	#bebes{
		font-size: 25px;
	}
	
	#logo{
		left: 30%;
		right: 30%;
	}
	
	#btn{
		width: 3em;
		height: 3em;
		display:inline-table;
	}
	#telefono{
		
	}
}